@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  list-style: none; }
  * button:focus, * input:focus, * textarea:focus {
    outline: none; }
  * button {
    cursor: pointer; }

header {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #0a3662; }

.mail a {
  color: white;
  text-decoration: none; }

.phone {
  cursor: pointer;
  font-size: 18px;
  color: white; }

button {
  text-transform: uppercase;
  background: #edd347;
  border: 1px solid #edd347;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 100;
  padding: 20px 40px;
  transition: all linear .2s;
  color: #4d4d4d; }
  button:hover {
    background: #0a3662;
    color: #edd347; }

header .container:first-child {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 20px; }
header .container:last-child {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px; }

.fa-envelope, .fa-phone {
  color: #edd347;
  padding-right: 10px; }

.second-header {
  width: 100%;
  height: 80px;
  transition: all .5s linear;
  position: fixed;
  left: 0;
  top: -120px;
  z-index: 1; }

.second-menu-logo {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 20px; }

.second-menu {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  color: white; }
  .second-menu .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: all 100ms linear; }
    .second-menu .wrapper div {
      padding: 0 10px; }

.main {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("../img/switchgear.jpg") center center no-repeat;
  background-size: cover; }
  .main div.left-container {
    width: 60%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px; }
    .main div.left-container h1 {
      font-size: 60px;
      font-weight: 100; }
    .main div.left-container h2 {
      margin-top: -60px;
      font-size: 25px;
      font-weight: 100; }
      .main div.left-container h2:last-child {
        font-size: 30px; }
    .main div.left-container .property {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .main div.left-container .property img {
        margin-right: 20px; }
      .main div.left-container .property p {
        font-size: 26px; }
    .main div.left-container h2:nth-child(5) {
      font-size: 32px;
      color: #edd347; }
    .main div.left-container .fast-sevice {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .main div.left-container .fast-sevice input {
        width: 220px;
        height: 50px;
        border-radius: 5px;
        font-size: 18px;
        padding-left: 5px; }
  .main .right-container {
    width: 40%; }

.services-company {
  width: 100%;
  height: auto; }
  .services-company h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 22px; }
    .services-company h2:before {
      content: ' ';
      width: 105px;
      display: block;
      border-bottom: solid #0a3662 3px;
      position: relative;
      top: 50px;
      margin: 15px auto 0; }
  .services-company .five-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-top: 80px; }
    .services-company .five-services .one, .services-company .five-services .two, .services-company .five-services .three, .services-company .five-services .four, .services-company .five-services .five {
      margin: 10px;
      padding: 100px 3px;
      width: 20%;
      border: 1px solid #d4d4d4;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .services-company .five-services .one img, .services-company .five-services .two img, .services-company .five-services .three img, .services-company .five-services .four img, .services-company .five-services .five img {
        margin: -25px 0 50px 0; }
      .services-company .five-services .one p, .services-company .five-services .two p, .services-company .five-services .three p, .services-company .five-services .four p, .services-company .five-services .five p {
        color: #666666;
        text-align: center; }
    .services-company .five-services .two img {
      margin: -43px 0 50px 0; }
    .services-company .five-services .three img {
      margin: -59px 0 50px 0; }
    .services-company .five-services .four img {
      margin: -25px 0 50px 0; }
    .services-company .five-services .five img {
      margin: -61px 0 50px 0; }

.other-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px; }
  .other-services .other-services-left-column {
    padding: 20px 0 0 50px;
    width: 45%; }
    .other-services .other-services-left-column h2 {
      margin-bottom: 50px; }
      .other-services .other-services-left-column h2:before {
        content: ' ';
        display: block;
        border: 1px solid #0a3662;
        position: relative;
        top: 50px;
        width: 100px; }
    .other-services .other-services-left-column ul li {
      color: #4d4d4d;
      margin-bottom: 20px;
      margin-left: 20px;
      list-style-image: url("../img/polygon.png"); }
  .other-services .other-services-right-column {
    padding: 20px 50px 0 0;
    width: 55%; }
    .other-services .other-services-right-column p {
      color: #4d4d4d;
      margin-bottom: 20px; }
    .other-services .other-services-right-column ul li {
      color: #4d4d4d;
      margin-bottom: 20px;
      margin-left: 20px;
      list-style-image: url("../img/polygon.png"); }

.blue-form {
  margin: 30px 0;
  padding: 30px 0;
  width: 100%;
  background: #0a3662;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .blue-form .logo-blue-form {
    padding-left: 20px;
    padding-right: 20px; }
  .blue-form .specification {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
    .blue-form .specification .inputs {
      width: 100%; }
      .blue-form .specification .inputs input {
        border-radius: 5px;
        font-size: 18px;
        color: #4d4d4d;
        width: 40%;
        height: 60px;
        margin: 15px 0;
        padding-left: 15px; }
        .blue-form .specification .inputs input:last-child {
          float: right; }
    .blue-form .specification .description p {
      padding: 20px 0;
      color: white; }
    .blue-form .specification .your-specification {
      background: #fff;
      color: #4d4d4d;
      border-radius: 5px;
      padding-left: 15px;
      width: 97%;
      height: 63px;
      overflow: hidden; }
      .blue-form .specification .your-specification div p {
        padding-top: 23px; }
      .blue-form .specification .your-specification input {
        width: 103%;
        height: 67px;
        background: red;
        opacity: 0;
        position: relative;
        top: -45px;
        left: -15px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1; }
      .blue-form .specification .your-specification label {
        position: relative;
        top: -111px;
        float: right;
        overflow: hidden; }
        .blue-form .specification .your-specification label button {
          background: #3c90f7;
          color: white;
          border: 1px solid #3c90f7; }
        .blue-form .specification .your-specification label .hover {
          border: 1px solid #fff;
          background: #fff;
          color: #3c90f7; }
  .blue-form .text-area {
    height: 232px;
    width: 42%; }
    .blue-form .text-area textarea {
      position: relative;
      top: 13px;
      width: 82%;
      height: 40%;
      padding: 20px 0 0 20px;
      margin-left: 40px;
      border-radius: 5px;
      outline: hidden;
      color: #4d4d4d;
      font-size: 18px; }
    .blue-form .text-area button {
      position: relative;
      top: 23%;
      left: 52%; }

.our-plus {
  width: 100%; }
  .our-plus h2 {
    text-align: center; }
    .our-plus h2:before {
      content: ' ';
      display: block;
      border-bottom: 3px solid #0a3662;
      width: 105px;
      height: 1px;
      color: #0a3662;
      position: relative;
      top: 50px;
      margin: 15px auto 0; }
  .our-plus div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px; }
    .our-plus div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      border: 1px solid #d4d4d4;
      border-radius: 5px;
      margin: 15px; }
      .our-plus div div img {
        margin: 70px 0; }
      .our-plus div div p {
        margin-bottom: 50px;
        text-align: center;
        width: 60%;
        font-weight: 800;
        font-size: 18px;
        color: #414141; }

.certificates {
  background: url("../img/certificates.jpg");
  width: 100%; }
  .certificates h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0; }
    .certificates h2:before {
      content: '';
      width: 105px;
      border-bottom: 3px solid #edd347;
      display: block;
      position: relative;
      top: 50px;
      margin: 0 auto; }
  .certificates div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0; }
    .certificates div div:first-child {
      margin-right: -70px;
      width: 350px;
      height: 450px;
      background: url("../img/1-355x502-0ef.jpg") center center no-repeat;
      background-size: contain; }
    .certificates div div:nth-child(2) {
      width: 350px;
      height: 450px;
      background: url("../img/2-355x502-776.jpg") center center no-repeat;
      background-size: contain; }
    .certificates div div:last-child {
      margin-left: -70px;
      width: 350px;
      height: 450px;
      background: url("../img/4-355x502-19e.jpg") center center no-repeat;
      background-size: contain; }

.manufacturers {
  background: #f7f7f7;
  padding-bottom: 100px; }
  .manufacturers h2 {
    text-align: center;
    padding-top: 50px; }
    .manufacturers h2:before {
      position: relative;
      top: 50px;
      margin: 0 auto;
      display: block;
      border-bottom: 3px solid #0a3662;
      content: '';
      width: 105px; }
  .manufacturers div {
    padding-top: 100px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch; }
    .manufacturers div div {
      box-sizing: border-box;
      width: 33.33%;
      height: 260px; }
      .manufacturers div div img {
        max-width: 100%;
        max-height: 60%;
        margin-top: -20px; }
      .manufacturers div div:nth-child(1) {
        border-right: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca; }
      .manufacturers div div:nth-child(2) {
        border-bottom: 1px solid #cacaca; }
      .manufacturers div div:nth-child(3) {
        border-left: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca; }
      .manufacturers div div:nth-child(4) {
        border-right: 1px solid #cacaca; }
      .manufacturers div div:nth-child(6) {
        border-left: 1px solid #cacaca; }

.gallery h2 {
  padding-top: 50px;
  text-align: center; }
  .gallery h2:before {
    display: block;
    content: '';
    width: 105px;
    position: relative;
    top: 50px;
    border-bottom: 3px solid #0a3662;
    margin: 0 auto; }
.gallery div {
  overflow: hidden;
  width: 100%;
  height: auto; }
  .gallery div div div img {
    width: 50px;
    height: 50px; }

.for-hover-elem-menu {
  background: #edd347;
  color: #0a3662; }

.dotted-indicator {
  position: fixed;
  top: 35%;
  right: 20px;
  width: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .dotted-indicator .passive {
    cursor: pointer;
    margin-top: 20px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    transition: all 0.1s linear;
    background: #0a3662;
    box-shadow: 0 0 7px 2px white; }
  .dotted-indicator .active {
    width: 8px;
    height: 8px;
    background: #edd347;
    box-shadow: 0 0 10px 4px #edd347; }

/*# sourceMappingURL=style.css.map */
